/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: arial,sans-serif;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(75vh - 60px) calc(100vh - 75vh - 60px);
}

.header {
    justify-self: end;
    align-self: center;
}

.navigation {
    display: flex;
    padding: 0 30px;
    align-items: center;
}

.navigation-item {
    padding-left: 15px;
    font-size: 13px;
}

.navigation-link,
.navigation-link:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.navigation-link:hover {
    text-decoration: underline;
}

.account,
.account:visited,
.account:link {
    text-decoration: none;
    color: white;
    display: flex;
    width: 31px;
    height: 31px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    background-color: #5d4037;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-image {
    height: 92px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 584px;
    width: 100%;
}

.search-wrapper {
    padding: 0 8px 0 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: none;
    width: 100%;
    padding-left: 13px;
    color: : rgba(0,0,0,.87);
    font: 16px arial,sans-serif
}

.search-action {
    display: flex;
    justify-content: center;
}

.search-button {
    background-color: #f8f9fa;
    text-decoration: none;
    color: #3c4043;
    border: none;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    margin: 11px 4px;
}

.search-offer {
    font-size: small;
    
}

.search-offer a:hover {
    text-decoration: underline;
}

.search-offer a {
    text-decoration: none;
    color: #1a0dab;
}



.footer {

}